body {
  background: url(https://media.giphy.com/media/elDe2v6uvRtbttDIsL/giphy.gif) no-repeat top right fixed;
  background-size: 400px 200px;
  background-color: black;
  font-family: 'Cormorant SC', serif;
  color: #fff;
  letter-spacing: 1.5px;
  font-size: 18px;
}

option {
  font-family: 'Cormorant SC', serif !important;
  border: 0;
}

h1 {
  text-shadow: 0px 0px 12px #FF8C4B;
  font-size: 70px;
  letter-spacing: 0;
}

input, select {
  border: 2px solid grey;
  font-size: 20px;
  margin: 4px;
  float: right;
  width: 140px;
  height: 30px;
  border-radius: 5px;
  background-color: darkgrey;
}


label {
  float: left;
  margin: 4px;
  margin-right: 0;
}

.col-md-4 {
  border: 3px ridge #9E937B;
  border-radius: 2px;
  min-width: 200px;
  max-width: 370px;
  margin-bottom: 5px;

  div {
    padding-bottom: 40px;
  }
}

#classSelect {
  border-bottom: 3px ridge #9E937B;
  padding-bottom: 0;
}
